<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desempeño de producción</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    <h1>Gráficos de Desempeño</h1>

    <h2>Dispositivos por Línea</h2>
    {% for device in total_time_for_devices %}
    <div id="device-chart-{{ device.line_name }}" style="width: 100%; height: 500px;"></div>
    {% endfor %}


    <h2>Tiempo Total y de Mantenimiento por Línea</h2>
    <div id="line-chart-div" style="width: 100%; height: 500px;"></div>

    <h2>Puntos por Dispositivo en cada Línea</h2>
    {% for point in total_time_for_points %}
    <div id="point-chart-{{ point.line_name }}" style="width: 100%; height: 500px;"></div>
    {% endfor %}
    
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawCharts);

        function drawCharts() {
            var devicesData = {{ total_time_for_devices|safe }};
            var deviceStatusesData = {{ total_time_for_device_statuses|safe }};
            var linesData = {{ total_time_for_lines|safe }};
            var lineStatusesData = {{ total_time_for_line_statuses|safe }};
            var pointsData = {{ total_time_for_points|safe }};

            // Dispositivos por Línea
            for (let i = 0; i < linesData.length; i++) {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Device');
                data.addColumn('number', 'Tiempo total');
                data.addColumn('number', 'Tiempo de mantenimiento');
                data.addColumn({role: 'annotation'});

                var lineDevices = devicesData.filter(device => device.line === linesData[i].line);
                for (let device of lineDevices) {
                    var totalDeviceTime = convertToSeconds(device.total_time);
                    var maintenanceTime = deviceStatusesData.find(status => status.device === device.device).total_time;
                    var totalMaintenanceTime = convertToSeconds(maintenanceTime);

                    data.addRow([device.device, totalDeviceTime, totalMaintenanceTime, '']);
                }

                var options = {
                    width: '100%',
                    height: 500,
                    legend: { position: 'top', maxLines: 3 },
                    bar: { groupWidth: '75%' },
                    isStacked: true,
                };

                var chart = new google.visualization.ColumnChart(document.getElementById(`device-chart-${i + 1}`));
                chart.draw(data, options);
            }

            // Tiempo Total y de Mantenimiento por Línea
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Line');
            data.addColumn('number', 'Tiempo total');
            data.addColumn('number', 'Tiempo de mantenimiento');
            data.addColumn({role: 'annotation'});

            for (let line of linesData) {
                var totalTime = convertToSeconds(line.total_time);
                var maintenanceTime = lineStatusesData.find(status => status.line === line.line).total_time;
                var totalMaintenanceTime = convertToSeconds(maintenanceTime);

                data.addRow([line.line, totalTime, totalMaintenanceTime, '']);
            }

            var options = {
                width: '100%',
                height: 500,
                legend: { position: 'top', maxLines: 3 },
                bar: { groupWidth: '75%' },
                isStacked: true,
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('line-chart-div'));
            chart.draw(data, options);

            // Puntos por Dispositivo en cada Línea
            for (let i = 0; i < linesData.length; i++) {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Point');
                data.addColumn('number', 'Time');
                data.addColumn({role: 'annotation'});

                var linePoints = pointsData.filter(point => point.line === linesData[i].line);
                for (let point of linePoints) {
                    var pointTime = convertToSeconds(point.total_time);

                    data.addRow([point.point, pointTime, '']);
                }

                var options = {
                    width: '100%',
                    height: 500,
                    legend: { position: 'top', maxLines: 3 },
                    bar: { groupWidth: '75%' },
                    isStacked: true,
                };

                var chart = new google.visualization.ColumnChart(document.getElementById(`point-chart-${i + 1}`));
                chart.draw(data, options);
            }
        }

        function convertToSeconds(timeStr) {
            const [hours, minutes, seconds] = timeStr.split(':').map(Number);
            return (hours * 3600) + (minutes * 60) + seconds;
        }
    </script>
</body>
</html>
