
body {
    width: 100%;
    background-color: #e0e2e2;
}
header {
    height: 100px;
    width: 100%;
}
.navbar-light .navbar-toggler-icon {
    color: #fff !important;
}
nav {
    display: flex;
    justify-content: center;
}
.userstatus {
    display: flex;
    height: 250px ;
    border: solid black;
    border-radius: 5px;
    border-width: 1px;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
}
.linestatus {
    height: 1300px ;
    border: solid black;
    border-radius: 5px;
    border-width: 1px;
    margin: 10px;
    padding-right: 15px;
}
.nameuser {
    display: flex;
    float: left;
    margin-left: 5%;
    border: solid rgba(10, 10, 10, 0.493);
    border-width: 2px;
    background-color: rgb(173, 173, 173);
    border-radius: 10px;
    height: 100px;
    width: 350px;
    align-items: center;
}
.nameuser1 {
    display: flex;
    float: right;
    margin-left: 10%;
    margin-right: 5%;
    border: solid rgba(46, 46, 46, 0.911);
    border-width: 2px;
    background-color: rgb(85, 85, 85);
    border-radius: 10px;
    height: 100px;
    width: 300PX;
    align-items: center;
    justify-content: center;
}
.shiftuser {
    display: flex;
    float: right;
    margin-left: 10%;
    margin-right: 5%;
    border: solid rgba(14, 4, 97, 0.911);
    border-width: 2px;
    background-color: rgb(27, 68, 180);
    border-radius: 10px;
    height: 100px;
    width: 500PX;
    align-items: center;
}
.shiftuser1 {
    display: flex;
    float: right;
    margin-left: 10%;
    margin-right: 5%;
    border: solid rgba(14, 4, 97, 0.911);
    border-width: 2px;
    background-color: rgb(27, 68, 180);
    border-radius: 10px;
    height: 100px;
    width: 300PX;
    align-items: center;
    justify-content: center;
}
.shiftuser1:hover {
    border: solid rgba(74, 59, 206, 0.911);
    background-color: rgb(47, 93, 219);
}
.line2 {
    width: 100%;
    height: 50%;
    border-bottom: solid 1px black;
}
.line3 {
    height: 50%;
    width: 100%;
}
.linestatus2 {
    display: flex;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: space-between;
}
.linestatus3 {
    display: flex;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content:space-around;
}
.shiftuser2 {
    display: flex;
    float: right;
    margin-left: 10%;
    margin-right: 5%;
    border: solid rgba(27, 107, 7, 0.911);
    border-width: 2px;
    background-color: rgb(37, 192, 71);
    border-radius: 10px;
    height: 100px;
    width: 600px;
    align-items: center;
}
.shiftuser3 {
    display: flex;
    float: right;
    margin-left: 10%;
    margin-right: 5%;
    border: solid rgba(107, 7, 7, 0.911);
    border-width: 2px;
    background-color: rgb(192, 37, 37);
    border-radius: 10px;
    height: 100px;
    width: 600px;
    align-items: center;
}
.nameuser2 {
    display: flex;
    float: left;
    margin-left: 5%;
    border: solid rgba(5, 68, 83, 0.705);
    border-width: 2px;
    background-color: rgb(83, 201, 195);
    border-radius: 10px;
    height: 100px;
    width: 350px;
    align-items: center;
}
.iot-device {
    display: flex ;
    border: solid rgba(10, 10, 10, 0.493);
    margin-left: 2%;
    margin-right: 2%;
    border-width: 2px;
    background-color: rgb(173, 173, 173);
    border-radius: 10px;
    height: 100px;
    width: 18%;
    align-items: center;
}
.linestatus3 .switch {
    height: 70px;
    width: 158px;
    background-color: #b8fcaf;
    border: solid 1px rgba(116, 116, 116, 0.87);
    border-radius: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.linestatus3 .switch .checkbox {
    display: none;
}
.linestatus3 .switch .rail {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 2px;
    background-color: #b8fcaf;
    border-radius: 40px;
}
.linestatus3 .switch .rail .circle {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(37, 192, 71);
    position: relative;
}
.checkbox:checked + .rail .circle {
    transform: translateX(100px);
    transition: 1s;
    background-color: rgb(192, 37, 37);
}
.checkbox:checked + .rail {
    background-color: #fcafaf;
    transition: 1s;
}
.fondo {
    background-image: url('/home/leantronic/public_html/prueba/lineManagement/static/css/FD3S2EY66BCI5GNWHEUVQ25SY4.jpg'); /* Reemplaza 'ruta/de/la/imagen.jpg' con la ruta real de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen al tamaño del contenedor */
    background-repeat: no-repeat;
}