<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Control</title>
   
</head>
<body>
    <header class="navbar navbar-expand-lg navbar-light bg-dark d-flex justify-content-evenly align-items-center">
        <nav class="w-100" >
            <div class="container-fluid">
                <button class="navbar-toggler btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon btn-light"></span>
                </button>        
              <div class="collapse navbar-collapse" id="navbarTogglerDemo01" style="font-size: 18px;">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 d-flex justify-content-evenly">
                    <li class="nav-item mx-5 px-3">
                        <a class="nav-link active text-white" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item mx-5 px-3">
                        <a class="nav-link active text-white" aria-current="page" href="#">Operación</a>
                    </li>
                    <li class="nav-item mx-5 px-3">
                        <a class="nav-link text-white" href="#">Fin de turno</a>
                    </li>
                </ul>
              </div>
            </div>
        </nav>
    </header>
            <div class="card">
                <div class="row">
                    <div class="col-6">
                        <input type="text" name="username"  value="{{name}}" disabled class="form-control" id="floatingInput" placeholder="{{name}}">
                    </div>
                    <div class="col-6">
                        <input type="text" name="username"  value="{{turno}}" disabled class="form-control" id="floatingInput" placeholder="{{name}}">
                    </div>
                    </div>
                </div>
                   
               {% for i in "x"|ljust:lines %}
               {% for a in namelines %}
               <div class="row mt-5">
                <div class="col-6">
                    <input type="text" name="line1"  value="{{a}}" disabled class="form-control" id="floatingInput" placeholder="{{name}}">
                </div>
                <div class="col-6">
                    <input type="text" name="status"  value="on line" disabled class="form-control" id="floatingInput" placeholder="{{name}}">
                </div>
                </div>

                

                <div class="container">
                    <div class="row">
                        
                        {% for nameLine, amount in devices.items %}
                        <div class="col">
                            <form action="" class="card">
                              
                                <div>hola</div>
                            
                            
                            </form>
                        </div>
                    {% endfor %}
                    
                       
                      
                    </div>
                  </div>
            </div>
            {% endfor %}
                 {% endfor %}
                                






    </div> 
    
</body>
</html>